<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><% codeList.forEach(code => {
      %>
      ### <%= code.title %> <br><br>
      <%= code.code %> <br><br>
      <%
    }) %></p>
  </body>
</html>
